<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Image reKognition Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">reKognition</h3>
        </div>
    </header>

    <main role="main" class="inner cover">


        <div id="webcamcontainer">
            <video id="videoElement" width="640" height="480" style="display:none"></video>
            <canvas id="videoCan" width="640" height="480"></canvas>
        </div>

        <button type="button" class="btn btn-primary" id="startAnlysingVideo">start processing</button>
        <button type="button" class="btn btn-primary" id="stopAnlysingVideo">stop processing</button>
    </main>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script th:src="@{/js/analyser.js}" src="../static/js/analyser.js"></script>
<script th:src="@{/js/drawer.js}" src="../static/js/drawer.js"></script>

<script>
        var redrawTimeoutOnCanvas = 20

        var video = document.querySelector("#videoElement")

        navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}})
            .then(handleVideo)
            .catch(videoError);

        function handleVideo(stream) {
            video.srcObject = stream;
            video.play();

            setInterval(Drawer.drawVideo, redrawTimeoutOnCanvas);
        }

        function videoError(e) {
            console.log(e);
        }

        $('#startAnlysingVideo').on('click', function () {
            console.log("Start analysing web cam video")
            Analyser.setStart()
            setInterval(Analyser.processImage, 300)
        })

        $('#stopAnlysingVideo').on('click', function () {
            console.log("Stop analysing web cam video")
            Analyser.setStop()
        })

</script>

</body>

</html>