<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Image reKognition Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css">
</head>

<body class="text-center">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">reKognition</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    </div>
</nav>

<main role="main" class="container">

    <div class="row mt-2">
        <div class="col">
            <button type="button" class="btn btn-secondary" id="startAnlysingVideo">start processing</button>
            <button type="button" class="btn btn-secondary" id="stopAnlysingVideo">stop processing</button>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-sm">
            <video id="videoElement" width="640" height="480" style="display:none"></video>
            <canvas id="videoCan" width="640" height="480"></canvas>
        </div>
        <div class="col-sm">
            <h3>Emotions</h3>
            <ul class="list-group" id="emotionlist">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    happy
                    <span class="badge badge-primary badge-pill">99,3336532</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    sad
                    <span class="badge badge-primary badge-pill">2,12343666</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    relaxed
                    <span class="badge badge-primary badge-pill">78,0</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Information</h3>
            <table class="table table-striped" id="datatable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Value</th>
                    <th scope="col">Confidence</th>
                </tr>
                </thead>
                <tbody id="infotablebody">
                <tr>
                    <th scope="row">Gender</th>
                    <td>Male</td>
                    <td><span class="badge badge-primary badge-pill">97,12507854839</span></td>
                </tr>
                <tr>
                    <th scope="row">Smile</th>
                    <td>true</td>
                    <td><span class="badge badge-primary badge-pill">99,999999999</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script th:src="@{/js/analyser.js}" src="../static/js/analyser.js"></script>
<script th:src="@{/js/drawer.js}" src="../static/js/drawer.js"></script>

<script>

    var redrawTimeoutOnCanvas = 20
    var processTimer;
    var video = document.querySelector("#videoElement")

    navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}})
        .then(handleVideo)
        .catch(videoError);

    function handleVideo(stream) {
        video.srcObject = stream;
        video.play();

        setInterval(Drawer.drawVideo, redrawTimeoutOnCanvas);
    }

    function videoError(e) {
        console.log(e);
    }

    $('#startAnlysingVideo').on('click', function () {
        console.log("Start analysing web cam video")
        processTimer = setInterval(Analyser.processImage, 300)
    })

    $('#stopAnlysingVideo').on('click', function () {
        if (processTimer !== undefined && processTimer != null) {
            console.log("Stop analysing web cam video")
            clearInterval(processTimer);
            processTimer = null;
        }
    })

</script>

</body>

</html>