<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Image reKognition Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">reKognition</h3>
        </div>
    </header>

    <main role="main" class="inner cover">


        <div id="webcamcontainer">
            <video id="videoElement" width="640" height="480" style="display:none"></video>
            <canvas id="videoCan" width="640" height="480"></canvas>
        </div>

        <button type="button" class="btn btn-primary" id="startVideoProcessing">start processing</button>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>reKognition Service</p>
        </div>
    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script>

    var redrawTimeoutOnCanvas = 20;
    var processing = false;
    var canves = document.getElementById("videoCan");

    function draw() {
        var context = canves.getContext('2d');
        context.beginPath();
        context.clearRect(0, 0, 640, 480);
        context.drawImage(video, 0, 0, 640, 480);
    };


    video = document.querySelector("#videoElement");

    navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}})
        .then(handleVideo)
        .catch(videoError);

    function handleVideo(stream) {
        video.srcObject = stream;
        video.play();
        drawtimer = setInterval(draw, redrawTimeoutOnCanvas);
    }

    function videoError(e) {
        console.log(e);
    }


    function drawReact(ctx, person) {

        var leftX = ctx.canvas.width * person.boundingBox.left;
        var leftY = ctx.canvas.height * person.boundingBox.top;
        var width = ctx.canvas.width * person.boundingBox.width;
        var height = ctx.canvas.height * person.boundingBox.height;

        var ageText = "Age " + person.ageRange.low
        var gender = person.gender.value

        ctx.beginPath();
        ctx.fillStyle = "#ffffff";
        ctx.fillRect(leftX + 5, leftY + height + 2, ctx.measureText(ageText).width + 10, 14);
        ctx.fillRect(leftX + 5, leftY + height + 15, ctx.measureText(gender).width + 10, 14);

        ctx.fillStyle = 'red';
        ctx.font = '10pt Arial';
        ctx.fillText("Age " + person.ageRange.low, leftX + 5, leftY + height + 14);

        ctx.fillText(gender, leftX + 5, leftY + height + 28);

        ctx.stroke();


        ctx.beginPath();
        ctx.lineWidth = "1";
        ctx.strokeStyle = "yellow";

        ctx.rect(leftX, leftY, width, height);
        ctx.stroke();

    }

    function processImage() {

        console.log("process video image")

        if (processing) return;

        processing = false;

        canves.toBlob(function (imgBlob) {
            analyse(imgBlob)
            processing = true;
        }, "image/png")

    }

    function analyse(imgBlob) {
        console.log(imgBlob)

        /*
        $.ajax({
                url: "processwebcam",
                beforeSend: function (xhrObj) {
                    xhrObj.setRequestHeader("Content-Type", "application/octet-stream");
                },
                type: "POST",
                processData: false,
                data: imgBlob
            })
            .done(function (data) {
                $.each(data, function () {
                    drawReact(ctx, this)
                  });
            })
            .fail(function (e) {
                console.log(e);
            });

            */
    }

    $('#startVideoProcessing').on('click', function () {
        setInterval(processImage(), 100);
    })

</script>

</body>

</html>